# CMake Output
CMakeCache.txt
CMakeFiles/
*.cmake

third-party/sdl2/sdl2-build/
third-party/sdl2/sdl2-src/
third-party/sdl2/sdl2/

# Visual Studio
Debug/
Release/
.vs/

*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user



build/
